body {
  background-color: #ffffff;
  color: #000000;
  transition: background-color 0.3s ease, color 0.3s ease;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

body.dark-mode {
  background-color: #1f1f1f;
  color: #ffffff;
}

label {
  display: block;
  margin-bottom: 10px;
}
